.tag-li {
  color: #f8f8f8;
  border: 2px solid #f3aa4e;
  border-radius: 20px;
  padding: 10px 15px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.tag-li:hover {
  background-color: #f3aa4e;
}

.active {
  background-color: #f3aa4e;
}
